.movie-row {
  padding: 50px 6%;

  background-color: var(--midnight-study);
}

.movie-row h2 {
  color: var(--heirloom-pearl);

  font-size: 28px;
  font-weight: 500;

  margin-bottom: 25px;
}

.movie-list {
  display: flex;

  gap: 20px;

  overflow-x: auto;

  padding: 10px 5px 25px;
}

.movie-list::-webkit-scrollbar {
  height: 6px;
}

.movie-list::-webkit-scrollbar-thumb {
  background-color: var(--baroque-brass);

  border-radius: 10px;
}